.not-found{
    width: 100vw;
    height: 100vh;
}
.not-found-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}