.nav-container{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 10;
}

.nav-container li{
    margin-right: 50px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

.top{
    margin-left: 2%;
    cursor: pointer;
    padding: 10px 20px; 
    background: -webkit-linear-gradient(16deg, #de7ee5, #3d4be8);
    border: none;
    border-radius: 20px; 
    color: white;
    text-align: center;
    font-size: 16px;  
}

.nav-container a{
    text-decoration: none;
    color: white;
}


